manifest {
    name            = 'nf-core/crispriscreen'
    author          = """Michael Jahn"""
    homePage        = 'https://github.com/nf-core/crispriscreen'
    description     = """Pipeline to process next generation sequencing data obtained from CRISPRi repression library screenings."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = '1.2.0'
    doi             = ''
}
