/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SEQTK_SAMPLE {
        ext.args = { params.fixed_seed ? '-s100' : '' }
        ext.prefix = { "${meta.id}_subsampled" }
    }

    withName: TRIMGALORE {
        ext.args   = { [
            params.trim_nextseq > 0 ? "--nextseq ${params.trim_nextseq}" : '',
            '--stringency 6'
        ].join(' ').trim() }

        publishDir = [
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.save_trimmed
            ],
            [
                path: { "${params.outdir}/trimgalore" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }

    withName: CUTADAPT {
        ext.args = { [
            params.three_prime_adapter ? "-a ${params.three_prime_adapter}" : '',
            params.five_prime_adapter ? "-g ${params.five_prime_adapter}" : '',
            "-e ${params.error_rate}"
        ].join(' ').trim() }
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: BOWTIE2_BUILD {
        ext.args = ''
    }

    withName: BOWTIE2_ALIGN {
        ext.args = ''
        if (params.filter_mapq != 1.0) {
            ext.args2 = params.sort_bam ? " | samtools view -q ${params.filter_mapq}" : "-q ${params.filter_mapq}"
        }
    }

    withName: SUBREAD_FEATURECOUNTS {
        ext.args = '-F SAF'
    }

    withName: PREPARE_COUNTS {
        ext.args = ''
    }

    withName: MAGECK_MLE {
        ext.args = ''
    }

    withName: FITNESS {
        ext.args = ''
    }

    withName: RMARKDOWNNOTEBOOK {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/fitness_report" },
            mode: params.publish_dir_mode,
            pattern: "*.nb.html"
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
